cpufeature==0.2.1
cryptography==41.0.7
mediapipe==0.10.32
numpy==1.26.4
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
psutil==6.1.1
PyQt6==6.10.2
pyqt6_sip==13.11.0
pywin32==306
Nuitka==2.8.4
ordered-set==4.1.0
zstandard==0.24.0
Requests==2.32.5
screeninfo==0.8.1
sounddevice==0.5.5
telemetry==2.0.8
WMI==1.5.1
sqlalchemy==2.0.35
